*{
    box-sizing: border-box;
}

:root{
    --checkbox-color: rgb(202, 60, 60);
    --checkbox-shadow: rgba(238, 156, 167, 0.2);
    --add-button: rgba(255, 255, 255, 0.7);
    --add-button-shadow: rgba(238, 156, 167, 0.4);
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 15px;
    display: felx;
    justify-content: center;
    align-items: center;
    background-image:
    linear-gradient(62deg, rgba(51, 50, 129, 0.973) 13%,  rgba(255, 122, 151, 0.5) 4%),
    linear-gradient(44deg,rgba(0, 43, 99, 0.079) 39%,  rgba(242, 140, 143, 0.5) 18%),
    linear-gradient(118deg,rgba(84, 202, 242, 0.031) 40%,  rgba(247, 155, 187, 0.5) 54%),
    linear-gradient(58deg,rgba(90, 90, 237, 0.161) 83%,  rgba(249, 156, 142, 0.5) 23%);

}